* {
  margin: 0;
  padding: 0;
}

.bg {
  padding: 40px;
  background: #eff3f6;
}

.transaction_history {
  margin: 0 auto;
  width: 600px;
  min-height: 300px;
  border: 1px solid #a5a4a4;

  box-shadow: 0px 4px 7px 1px #cfcfcf;
  background-color: #fff;
  text-align: center;
  color: #747474;
}

.thead_tr {
  background-color: #00bcd5;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  height: 50px;
}

.type_td {
  text-align: left;
  transform: translateX(43%);
}

.tbody_tr:nth-child(even) {
  background-color: #ecf1f4;
}

.tbody tr {
  height: 40px;
}
